@{
    ViewData["Title"] = "Home Page";
}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" onclick="onRectangle()">Rectangle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="onSubmit()">Submit</a>
            </li>
        </ul>
    </nav>

    <div class="row">
        <div class="col-md-6">
            <div>
            <canvas class="left" id="myCanvas" width="480" height="320" style="border:1px solid #000000;"></canvas>
            </div>
            <div>
                <button type="submit" onclick="generate()">Generate</button>
            </div>
            <div>
                <button type="submit" onclick="reverse()">Reverse Generate</button>
            </div>
        </div>
        <div class="col-md-6">
            <div>
            <iframe id="renderedhtml" style="border:1px solid #000000;"></iframe>
            </div>
            <div>
                <textarea id="generatedHtml" style="height: 320px; width: 480px;">Generated Code Will Appear Here</textarea>
            </div>
        </div>
    </div>
