@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-md-6">
            <div>
                <canvas class="left" id="myCanvas" width="480" height="320"></canvas>
            </div>
            <div>
                <button type="submit" onclick="generate()">Generate</button>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <iframe id="renderedhtml"></iframe>
            </div>
            <div>
                <textarea id="generatedHtml" style="height: 320px; width: 480px;">Generated Code Will Appear Here</textarea>
            </div>
        </div>
    </div>
